.switch-add {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.ant-upload.ant-upload-select-picture-card {
  border-radius: 50%;
  box-shadow: 0 2px 2px 0px #d1d0d0;
  border: 1px solid #d1d0d0;
}
.ant-upload-picture-card-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.ant-form {
  width: 400px;
  margin: auto;
}
.ant-modal-footer {
  display: none;
}
.ant-input {
  padding: 0.7em;
  border-radius: 8px;
  background: #00349621 0% 0% no-repeat padding-box;
  opacity: 0.96;
}
.selector {
  padding: 0.7em;
  border-radius: 8px;
  background: #00349621 0% 0% no-repeat padding-box;
  opacity: 0.76;
  height: 7vh;
}
.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background: transparent;
  opacity: 0.76;
  border: none;
}
.ant-btn {
  background-color: #0028af;
  width: 43%;
  border: none;
  height: 6vh;
  border-radius: 8px;
}
.ant-btn:hover {
  background-color: #0028af;
  cursor: pointer;
}
.modal-btn {
  display: flex;
  justify-content: center;
}

/* maain of the dashboard */

.dash-center-content-right {
  padding: 0;
  margin: 0;
  width: 100%;
}
.ant-col-8 {
  display: block;
  flex: 18.3333;
  max-width: 23%;
}
.ant-form {
  width: 100%;
}
