.cards {
  display: flex;
  justify-content: space-between;

  .card-row {
    display: flex;

    .card-col {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 270px;
    }
    .company-name {
      display: flex;
      justify-content: space-around;
      min-width: 460px;
      margin: auto;
      margin-left: 150px;
    }
  }
}

.rate-button-table {
  width: 40px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
