.main-header {
  padding-left: 30px;
}
.choose-date-container {
  padding-right: 122px !important;

  .start,
  .end {
    color: #0028af;
  }
  .date-classes {
    border-radius: 6px;
    width: 7vw;
    margin-top: 6px;
  }
}
.student {
  padding: 12px;
  line-height: 2px;
  gap: 0px !important;
  .student-name {
    color: #0028af;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.2em;
  }
  .student-email {
    color: #cbcbcb;
  }
}
.company {
  color: #0028af;
  font-weight: 300;
}
.date {
  color: #cbcbcb;
}
.ant-table-row {
  height: 1vh !important;
}
.ant-table-cell {
  color: white;
}
.table-title {
  color: #0028af;
  font-size: 0.8em;
}
