.rate-button-table {
  color: #929ae0;
}
.date-joined {
  background: transparent;
  border: none;
  color: #0028af;
}
.rate-model {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ant-modal {
  text-align: center;
}
.ant-modal-content {
  width: 300px;
  border-radius: 6px;
  height: 65vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.ant-modal-title {
  color: #0028af;
  font-weight: bold;
  font-size: 20px;
}
.company-pic-img {
  padding: 1em;
  text-align: center;
}
.h1.ant-typography {
  font-size: 18px;
}

h5.ant-typography {
  opacity: 0.65;
  font-size: 14px;
}
.margin_top-10 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 1em;
}
.ant-table-thead tr th {
  background-color: #3565d329 !important;
  padding: 12px !important;
  margin: 5px !important;
}
