.login-container {
  /* display: flex;
    flex-direction: column; */
}

.login-container .left-side {
  background-image: linear-gradient(
      to bottom,
      #1b27afbf,
      #1b27afbf
    ),
    url('../Login/background-img.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: sticky;
  top: 0;
}

.login-container .left-side img {
  margin: 0em 17em;
  align-items: center;
  height: 32%;
  width: 32%;
  margin-top: 11em;
}

.login-container .left-side h1 {
  font-family: Poppins;
  text-align: center;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 300;
}

.login-container .main-content {
  padding: 1em 7em;
  margin: auto;
}
.login-container .main-content h1 {
  color: #1b27af;
  font-size: 1.3em;
  font-weight: bold;
}

.login-container .main-content p {
  font-size: 0.9em;
  color: #6a6a6a;
  margin-top: 1em !important;
}

.form-content .inputs {
  border-radius: 6px;
  padding: 0.7em;
  border: 1px solid #8692a6;
}

.form-content .submit-button {
  background-color: #1b27af;
  color: white;
  width: 49%;
  height: 3.5em;
  text-align: center;
  border-radius: 8px;
  margin-top: 1em;
}

.form-content .forgot-pass {
  font-weight: 500;
  font-size: 1em !important;
}
.goto-link {
  font-size: 0.7em !important;
}

.goto-link a {
  text-decoration: none;
  color: #1b27af;
  font-weight: bold;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1b27af !important;
  border-color: #1b27af !important;
}

.ant-divider-plain.ant-divider-with-text {
  color: rgb(152 152 152 / 85%) !important;
  font-weight: 500 !important;
}

.signup-form-google div {
  margin: 0 auto;
  border: 1px solid rgb(187, 186, 186);
  display: flex;
  align-items: center;
  height: 7vh;
  border-radius: 6px;
  justify-content: space-evenly;
}

.signup-form-google img {
  height: 27px;
  text-align: center;
}
.inputs {
  width: 100%;
}
.signup-form-google h6 {
  font-size: 0.9em;
}

@media only screen and (max-width: 768px) {
  .login-container .left-side {
    display: none;
  }

  .login-container .main-content {
    padding: 4em 2em;
  }
}
